header{
		height: 50px;
		width: 95%;
		padding: 0 2.5%;
		background-color: rgba(50,50,50,.9);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
	}

	header #header_left,
	header #header_right{
		width: 50%;
		height: 100%;
		float: left;
	}

	header p {
		height: 50px;
		line-height: 50px;
		font-size: 35px;
		color: #ddd;
	}

	header ul{
		float: right;
	}
	header li{
		float: left;
		display: block;
		height: 100%;
		padding: 0 15px;
		line-height: 50px;
		font-size: 20px; 
		color: #ccc;
		transition:all .2s;
	}

	header li:nth-child(2){
		border-left: 1px solid rgba(200,200,200,.5);
		border-right: 1px solid rgba(200,200,200,.5);
	}

	header li:hover{
		color: #000055;
		background-color: #ccc;
	}