@media screen and (min-width: 1000px){

	body,
	html{
		background-size:cover;
		width: 100%;
		font-family: 'Noto Sans Japanese', serif;
	}

	#back{
		height: 100%;
		width: 100%;
		position: fixed;
		background: url(img/main_back.jpg);
		background-size:cover;
		z-index: -100;
		top: 0;
		left:0;
	}

	#back_access{
		height: 100%;
		width: 100%;
		position: fixed;
		background: url(img/access_back.jpg);
		background-size:cover;
		z-index: -100;
		top: 0;
		left:0;
	}

	
	.sub{
		height: 100%;
		width: 10%;
		background-color: #ddd;
		position: fixed;
	}
	
	#left_sub{
		top: 0;
		left: 0;
	}
	
	#right_sub{
		top: 0;
		right: 0;
	}
	
	main{
		width: 100%;
		height: 1500px;
	}
	
	#main_content{
		height: 1200px;
		width: 1000px;
		margin: 0 auto;
	}
	
	#title{
		position: relative;
		width: 100%;
		float: left;
	}
	
	#title:before{
		content:"";
	    display: block;
	    padding-top: 15%;
	
	}
	
	#title .inner{
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		position: absolute;
		top:5px;
		left: 5px;
		background: url(img/hiyosi_title.png);
		background-size: cover;
	}
		
}

@media screen and (max-width: 999px){

	body,
	html{
		background: url(img/main_back.jpg);
		background-size:cover;
		background-repeat: none;
		height: 100%;
		width: 100%;
	}
	.sub #right_sub{
		display: none;
	}

	#left_sub{
		height: 50px;
		width: 95%;
		padding: 0 2.5%;
		background-color: #fff;
	}

	#title{
		position: relative;
		width: 100%;
		float: left;
	}
	
	#title:before{
		content:"";
	    display: block;
	    padding-top: 15%;
	
	}
	
	#title .inner{
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		position: absolute;
		top:5px;
		left: 5px;
		background: url(img/hiyosi_title.png);
		background-size: cover;
	}


}