.parts{
    width: 1050px;
    height: 2000px;
    margin: 0 auto;
}

.part{
    width: 95%;
    margin: 25px 2.5%;
    float: left;
    height: 400px;
    background-color: #ddd;
    border-radius:3px;
}

#back_part{
    background: url(../img/IMGP1306.JPG);
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -100;
}
