#main_content {
  background-color: rgba(200, 200, 200, 0.8); }

#time_tables {
  /*margin: 0 50px;*/ }
  #time_tables .table_time {
    height: 900px;
    width: 80px;
    float: left;
    /*background-color: #bbb;*/
    margin: 60px 0 0 0; }
  #time_tables .table_time .inner {
    height: 112.5px;
    width: 100%;
    line-height: 112.5px;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    /*border-bottom:solid 1px rgba(100,100,100,.3);*/ }
  #time_tables .mitei {
    color: black; }
  #time_tables > p {
    line-height: 50px;
    font-size: 30px;
    height: 50px;
    text-indent: 1em;
    background-color: #eee;
    box-shadow: rgba(100, 100, 100, 0.5) 0 5px 5px;
    margin: 0 0 50px 0; }
  #time_tables .time_table {
    height: 960px;
    width: 1000px;
    margin: 0 50px 50px 50px;
    /*background-color: #fff;*/ }
    #time_tables .time_table .place {
      position: relative;
      float: left;
      overflow: hidden; }
      #time_tables .time_table .place .title {
        position: absolute;
        height: 60px;
        width: 250px;
        float: left;
        line-height: 60px;
        font-size: 20px;
        text-align: center;
        background-color: #eee;
        box-shadow: rgba(100, 100, 100, 0.5) 0 5px 5px; }
      #time_tables .time_table .place .time {
        height: 900px;
        width: 100%;
        float: left;
        /*background-color: #000;*/ }
        #time_tables .time_table .place .time .place_time {
          width: 100%;
          float: left;
          background-color: #ccc;
          box-sizing: border-box;
          border-bottom: solid 2px #fff; }
        #time_tables .time_table .place .time .none_time {
          width: 100%;
          float: left;
          /*background-color: #ccc;*/
          opacity: 0;
          box-sizing: border-box;
          border-bottom: solid 2px #fff; }
        #time_tables .time_table .place .time .first {
          margin: 116.25px 0 0 0; }
        #time_tables .time_table .place .time .place_time_first {
          margin: 56.25px 0 0 0; }
        #time_tables .time_table .place .time .sti_now {
          margin: 116.25px 0 0 0; }
        #time_tables .time_table .place .time .place_time_10 {
          height: 18.75px;
          line-height: 18.75px; }
        #time_tables .time_table .place .time .place_time_20 {
          height: 37.5px;
          line-height: 37.5px; }
        #time_tables .time_table .place .time .place_time_30 {
          height: 56.25px;
          line-height: 56.25px; }
        #time_tables .time_table .place .time .place_time_40 {
          height: 75px;
          line-height: 75px; }
        #time_tables .time_table .place .time .place_time_50 {
          height: 93.75px;
          line-height: 93.75px; }
        #time_tables .time_table .place .time .place_time_60 {
          height: 112.5px;
          line-height: 112.5px; }
        #time_tables .time_table .place .time .place_time_70 {
          height: 131.25px;
          line-height: 131.25px; }
        #time_tables .time_table .place .time .place_time_80 {
          height: 168.75px;
          line-height: 168.75px; }
        #time_tables .time_table .place .time .place_time_90 {
          height: 168.75px;
          line-height: 168.75px; }
        #time_tables .time_table .place .time .place_time_100 {
          height: 187.5px;
          line-height: 187.5px; }
        #time_tables .time_table .place .time .place_time_110 {
          height: 206.25px;
          line-height: 206.25px; }
        #time_tables .time_table .place .time .place_time_120 {
          height: 225px; }
        #time_tables .time_table .place .time .place_time_150 {
          height: 281.25px; }
    #time_tables .time_table .place:nth-child(1) {
      height: 960px;
      width: 250px;
      /*margin: calc(250px / 6) 0 calc(250px / 6) calc(250px / 6);*/
      float: left;
      background-color: #fff;
      box-shadow: rgba(100, 100, 100, 0.5) 0 0 5px; }
    #time_tables .time_table .place:nth-child(3) {
      height: 960px;
      width: 250px;
      /*margin: calc(250px / 6) 0 calc(250px / 6) 0;*/
      float: left;
      background-color: #fff;
      box-shadow: rgba(100, 100, 100, 0.5) 0 0 5px; }
    #time_tables .time_table .place:nth-child(5) {
      height: 960px;
      width: 250px;
      /*margin: calc(250px / 6) calc(250px / 6)  calc(250px / 6) 0;*/
      float: left;
      background-color: #fff;
      box-shadow: rgba(100, 100, 100, 0.5) 0 0 5px; }
    #time_tables .time_table .sticky {
      position: fixed;
      top: 0; }

/*# sourceMappingURL=time_table.css.map */
